@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

#root {
  margin: 0;
  padding: 0;
  /* text-align: center; */
  font-family: "Roboto Condensed", "IBM Plex Sans Thai", sans-serif;
  font-weight: 400;
  font-style: normal;
}